---

- name: daemon-reload
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
    force: true
  when:
    - ansible_facts.service_mgr | lower == "systemd"

- name: restart node exporter
  become: true
  ansible.builtin.service:
    name: node_exporter
    state: restarted
  when:
    - not running_in_check_mode

- name: reload node exporter
  become: true
  ansible.builtin.service:
    name: node_exporter
    state: reloaded
  when:
    - not running_in_check_mode

...
