---

- name: check that the docker group is present
  when:
    - not running_in_check_mode
  ansible.builtin.getent:
    database: group
    key: docker
    split: ':'
    fail_key: false
  register: docker_sd_docker_group

- name: add user {{ docker_sd_system_user }} to docker group
  when:
    - not running_in_check_mode
    - docker_sd_docker_group | bodsch.prometheus.docker_group()
  ansible.builtin.user:
    name: "{{ docker_sd_system_user }}"
    groups: docker
    append: true
    state: present

- name: detect docker socket
  when:
    - not running_in_check_mode
  ansible.builtin.stat:
    path: /run/docker.sock
  register: docker_sd_docker_socket

- name: sets ACL for {{ docker_sd_system_user }} on /run/docker.sock
  when:
    - not running_in_check_mode
    - docker_sd_docker_socket.stat.exists is defined
    - docker_sd_docker_socket.stat.exists
  ansible.posix.acl:
    path: /run/docker.sock
    entity: "{{ docker_sd_system_user }}"
    etype: user
    permissions: rw
    state: present

...
