---

# - name: merge promscout configuration between defaults and custom
#   ansible.builtin.set_fact:
#     promscout_rest_api: "{{ promscout_defaults_rest_api | combine(promscout_rest_api, recursive=True) }}"
#     promscout_hosts: "{{ promscout_defaults_hosts | union(promscout_hosts) }}"
#     promscout_addition_labels: "{{ promscout_defaults_addition_labels | union(promscout_addition_labels) }}"

- name: create promscout configuration directory
  when:
    - not running_in_check_mode
  ansible.builtin.file:
    path: "{{ promscout_config_dir }}"
    state: directory
    owner: root
    group: "{{ promscout_system_group }}"
    mode: 0770

- name: create promscout configuration
  when:
    - not running_in_check_mode
  ansible.builtin.template:
    src: "promscout/config.yml.j2"
    dest: "{{ promscout_config_dir }}/config.yml"
    force: true
    owner: root
    group: "{{ promscout_system_group }}"
    mode: 0640
  notify:
    - restart promscout

...
