---

promcheck_main_version: "{{ promcheck_version[0:3] }}"

promcheck_install_path: /usr/local/opt/promcheck/{{ promcheck_version }}

promcheck_delegate_to: localhost

promcheck_local_tmp_directory: "{{
  lookup('env', 'CUSTOM_LOCAL_TMP_DIRECTORY') |
  default(lookup('env', 'HOME') ~ '/.cache/ansible/promcheck', true) }}/{{ promcheck_version }}"

promcheck_requirements:
  - gzip

promcheck_defaults_release:
  download_url: https://github.com/cbrgm/promcheck/releases
  file: promcheck_{{ ansible_facts.system | lower }}_{{ system_architecture }}.tar.gz
  extracted: promcheck_linux_amd64
  binary: promcheck

# ---------------------------------------------

go_arch_map:
  x86_64: 'amd64'
  aarch64: 'arm64'
  armv7l: 'armv7'

system_architecture: "{{ go_arch_map[ansible_facts.architecture] | default(ansible_facts.architecture) }}"

systemd_lib_directory: /lib/systemd/system


...
