---

- name: merge logstream_exporter configuration between defaults and custom
  ansible.builtin.set_fact:
    logstream_exporter_server: "{{ logstream_exporter_defaults_server | combine(logstream_exporter_server, recursive=True) }}"
    logstream_exporter_parser: "{{ logstream_exporter_defaults_parser | combine(logstream_exporter_parser, recursive=True) }}"
    logstream_exporter_logging: "{{ logstream_exporter_defaults_logging | combine(logstream_exporter_logging, recursive=True) }}"
    logstream_exporter_metrics: "{{ logstream_exporter_defaults_metrics | combine(logstream_exporter_metrics, recursive=True) }}"

- name: create logstream_exporter configuration directory
  when:
    - not running_in_check_mode
  ansible.builtin.file:
    path: "{{ logstream_exporter_config_dir }}"
    state: directory
    owner: root
    group: "{{ logstream_exporter_system_group }}"
    mode: 0770

- name: create logstream_exporter configuration
  when:
    - not running_in_check_mode
  ansible.builtin.template:
    src: "config.yml.j2"
    dest: "{{ logstream_exporter_config_dir }}/config.yml"
    force: true
    owner: root
    group: "{{ logstream_exporter_system_group }}"
    mode: 0644
  notify:
    - restart logstream exporter

...
