---

- name: create blackbox exporter configuration directory
  when:
    - not running_in_check_mode
  ansible.builtin.file:
    state: directory
    path: "{{ blackbox_exporter_service.config.file | dirname }}"
    group: "{{ blackbox_exporter_system_group }}"
    mode: 0750

- name: configure blackbox exporter
  when:
    - not running_in_check_mode
  ansible.builtin.template:
    src: blackbox_exporter/blackbox_exporter.yml.j2
    dest: "{{ blackbox_exporter_service.config.file }}"
    group: "{{ blackbox_exporter_system_group }}"
    mode: 0644
  notify:
    - validate blackbox config
    - reload blackbox exporter

...
