---

- name: flush handlers
  ansible.builtin.meta: flush_handlers

- name: validate alertmanager config
  when:
    - not running_in_check_mode
  bodsch.prometheus.amtool:
    verbose: true
    state: check
    config: "{{ alertmanager_config_dir }}/alertmanager.yml"

- name: ensure service is enabled on boot
  become: true
  when:
    - not running_in_check_mode
  ansible.builtin.service:
    name: alertmanager
    enabled: true
    state: started

...
