---

logstream_exporter_main_version: "{{ logstream_exporter_version[0:3] }}"

logstream_exporter_install_path: /usr/local/opt/logstream_exporter/{{ logstream_exporter_version }}

logstream_exporter_delegate_to: localhost

logstream_exporter_local_tmp_directory: "{{
  lookup('env', 'CUSTOM_LOCAL_TMP_DIRECTORY') |
  default(lookup('env', 'HOME') ~ '/.cache/ansible/logstream_exporter', true) }}/{{ logstream_exporter_version }}"

logstream_exporter_requirements:
  - iproute2

logstream_exporter_defaults_server:
  log_listen_address: "127.0.0.1:2212"                #
  log_transport: "udp"                                # tcp | udp
  metrics_listen_address: "127.0.0.1:9212"            #
  read_timeout: "30s"                                 #
  line_max_bytes: 1048576                             #

logstream_exporter_defaults_parser:
  format: "auto"                                      # auto | json | syslog_rfc3164 | syslog_ng_json
  payload_format: "json"                              # json | raw (used for syslog-based payloads)

logstream_exporter_defaults_logging:
  level: "info"                                       #
  format: "json"                                      #

logstream_exporter_defaults_metrics:
  const_labels:                                       #
    app: "logstream-exporter"                         #
  event_counter:
    name: ""                                          #
    help: ""                                          #
    labels: []                                        #
                                                      #
  definitions: []
    # - name: ""                                      #
    #   help: ""                                      #
    #   field: ""                                     #
    #   type: ""                                      #
    #   labels: []                                    #
    #   buckets:                                      #
    #     - 0.1                                       #
    #     - 0.25                                      #
    #     - 0.5                                       #
    #     - 1                                         #
    #     - 2                                         #
    #     - 5                                         #

logstream_exporter_defaults_directory: /etc/default

logstream_exporter_defaults_release:
  download_url: https://github.com/bodsch/logstream-exporter/releases
  file: logstream-exporter-{{ logstream_exporter_version }}-{{ ansible_facts.system | lower }}-{{ system_architecture }}.tar.gz
  checksum: "logstream-exporter-{{ logstream_exporter_version }}-{{ ansible_facts.system | lower }}-{{ system_architecture }}.tar.gz.sha256"
  binary: logstream-exporter

go_arch_map:
  i386: '386'
  x86_64: 'amd64'

system_architecture: "{{ go_arch_map[ansible_facts.architecture] | default(ansible_facts.architecture) }}"

systemd_lib_directory: /lib/systemd/system

...
