#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

[Unit]
Description       = Prometheus bind-exporter, scrapes remote JSON by JSONPath
After             = network-online.target

[Service]
Type              = simple
EnvironmentFile   = {{ bind_exporter_defaults_directory }}/bind_exporter

User              = {{ bind_exporter_system_user }}
Group             = {{ bind_exporter_system_group }}

ExecReload        = /bin/kill -HUP $MAINPID
ExecStartPre      = /usr/bin/{{ bind_exporter_release.binary }} --config.check --log.level debug --config.file {{ bind_exporter_service.config.file }}
ExecStart         = /usr/bin/{{ bind_exporter_release.binary }} $OPTIONS

SyslogIdentifier  = bind_exporter
Restart           = always

[Install]
WantedBy          = multi-user.target
