---

- name: detect external installation
  when:
    - not running_in_check_mode
  ansible.builtin.stat:
    path: /usr/local/bin/pushgateway
    get_checksum: false
  register: stat_pushgateway_path
  ignore_errors: true

- name: old installation
  when:
    - not running_in_check_mode
    - stat_pushgateway_path is defined
    - stat_pushgateway_path.stat is defined
    - stat_pushgateway_path.stat.islnk is defined
    - not stat_pushgateway_path.stat.isdir
  block:
    - name: stop old service
      ansible.builtin.service:
        name: pushgateway
        state: stopped
        enabled: false
      notify:
        - daemon-reload

    - name: remove installed systemd unit
      ansible.builtin.file:
        state: absent
        path: /etc/systemd/system/pushgateway.service
      when:
        - ansible_facts.service_mgr | lower == "systemd"

    - name: remove installed pushgateway
      ansible.builtin.file:
        state: absent
        path: /usr/local/bin/pushgateway

- name: flush handlers
  ansible.builtin.meta: flush_handlers

...
