---

- name: include OS specific configuration ({{ ansible_facts.distribution }} ({{ ansible_facts.os_family }}) {{ ansible_facts.distribution_major_version }})
  ansible.builtin.include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      paths:
        - "vars"
      files:
        # eg. debian-10 / ubuntu-20.04 / centos-8 / oraclelinux-8
        - "{{ ansible_facts.distribution | lower }}-{{ ansible_facts.distribution_major_version }}.yml"
        # eg. archlinux-systemd / archlinux-openrc
        - "{{ ansible_facts.distribution | lower }}-{{ ansible_facts.service_mgr | lower }}.yml"
        # eg. debian / ubuntu / centos / oraclelinux
        - "{{ ansible_facts.distribution | lower }}.yml"
        # eg. redhat / debian / archlinux
        - "{{ ansible_facts.os_family | lower }}.yml"
        # artixlinux
        - "{{ ansible_facts.os_family | lower | replace(' ', '') }}.yml"
        - default.yaml
      skip: true

- name: detect ansible check_mode
  bodsch.core.check_mode:
  register: _check_mode

- name: define running_in_check_mode
  ansible.builtin.set_fact:
    running_in_check_mode: '{{ _check_mode.check_mode }}'

- name: install dependency
  when:
    - not running_in_check_mode
    - trickster_requirements | default([]) | count > 0
  ansible.builtin.package:
    name: "{{ trickster_requirements }}"
    state: present

- name: merge trickster configuration between defaults and custom
  ansible.builtin.set_fact:
    trickster_service_config: "{{ trickster_defaults_service_config | combine(trickster_service_config, recursive=True) }}"
    trickster_main: "{{ trickster_defaults_main | combine(trickster_main, recursive=True) }}"
    trickster_frontend: "{{ trickster_defaults_frontend | combine(trickster_frontend, recursive=True) }}"
    trickster_caches: "{{ trickster_defaults_caches | combine(trickster_caches, recursive=True) }}"
    trickster_negative_caches: "{{ trickster_defaults_negative_caches | combine(trickster_negative_caches, recursive=True) }}"
    trickster_backends: "{{ trickster_defaults_backends | combine(trickster_backends, recursive=True) }}"
    trickster_rules: "{{ trickster_defaults_rules | combine(trickster_rules, recursive=True) }}"
    trickster_request_rewriters: "{{ trickster_defaults_request_rewriters | combine(trickster_request_rewriters, recursive=True) }}"
    trickster_tracing: "{{ trickster_defaults_tracing | combine(trickster_tracing, recursive=True) }}"
    trickster_metrics: "{{ trickster_defaults_metrics | combine(trickster_metrics, recursive=True) }}"
    trickster_reloading: "{{ trickster_defaults_reloading | combine(trickster_reloading, recursive=True) }}"
    trickster_logging: "{{ trickster_defaults_logging | combine(trickster_logging, recursive=True) }}"

...
