---

- name: flush handlers
  ansible.builtin.meta: flush_handlers

- name: ensure trickster is enabled on boot
  when:
    - not running_in_check_mode
  become: true
  ansible.builtin.systemd:
    name: trickster
    enabled: true
    state: started
  tags:
    - trickster_run

...
