---

- name: warn against the use of obsolete variables
  when:
    - not running_in_check_mode
    - json_exporter_config | default([]) | count > 0
  block:
    - name: warn against the use of obsolete variables  # noqa ignore-errors
      ansible.builtin.fail:
        msg: |
          The use of `json_exporter_config` is obsolete!
          Please use `json_exporter_modules` instead!
          The obsolete variable is automatically converted internally.
          The conversion will be removed in one of the next releases!
      ignore_errors: true

    - name: wait 5 seconds to realise the message
      delegate_to: localhost
      ansible.builtin.wait_for:
        timeout: 10

    - name: convert obsolete variable ...
      ansible.builtin.set_fact:
        json_exporter_modules: "{{ json_exporter_config | bodsch.prometheus.convert_to_modules(json_exporter_modules) }}"
        json_exporter_config: []

- name: merge json_exporter configuration between defaults and custom
  ansible.builtin.set_fact:
    json_exporter_modules: "{{ json_exporter_defaults_modules | combine(json_exporter_modules, recursive=True) }}"

- name: create json_exporter configuration directory
  when:
    - not running_in_check_mode
  ansible.builtin.file:
    path: "{{ json_exporter_config_dir }}"
    state: directory
    owner: root
    group: "{{ json_exporter_system_group }}"
    mode: 0770

- name: create json_exporter configuration
  when:
    - not running_in_check_mode
  ansible.builtin.template:
    src: "config.yml.j2"
    dest: "{{ json_exporter_config_dir }}/config.yml"
    force: true
    owner: root
    group: "{{ json_exporter_system_group }}"
    mode: 0644
  notify:
    - verify configuration
    - restart json exporter

...
