---

role_name_check: 1

dependency:
  name: galaxy

driver:
  name: docker

platforms:

  - name: mongodb
    image: "mongodb/mongodb-community-server:7.0.7-ubuntu2204"
    command: ${MOLECULE_DOCKER_COMMAND:-""}
    docker_host: "${DOCKER_HOST:-unix:///run/docker.sock}"
    privileged: true
    pre_build_image: true
    cgroupns_mode: host
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /var/lib/containerd
    capabilities:
      - SYS_ADMIN
    environment:
      MONGODB_INITDB_ROOT_USERNAME: molecule
      MONGODB_INITDB_ROOT_PASSWORD: molecule
    tmpfs:
      - /run
      - /tmp
    network_mode: default
    docker_networks:
      - name: mongodb
        ipam_config:
          - subnet: "10.20.0.0/24"
            gateway: "10.20.0.2"
    networks:
      - name: mongodb
        ipv4_address: "10.20.0.10"

  - name: instance
    image: "ghcr.io/bodsch/docker-ansible/ansible-${DISTRIBUTION:-debian:12}"
    command: ${MOLECULE_DOCKER_COMMAND:-""}
    docker_host: "${DOCKER_HOST:-unix:///run/docker.sock}"
    privileged: true
    pre_build_image: true
    cgroupns_mode: host
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /var/lib/containerd
    capabilities:
      - SYS_ADMIN
    tmpfs:
      - /run
      - /tmp
    network_mode: default
    networks:
      - name: mongodb
        ipv4_address: "10.20.0.11"

provisioner:
  name: ansible
  ansible_args:
    - --diff
    - -v
  config_options:
    defaults:
      deprecation_warnings: true
      callback_result_format: yaml
      gathering: smart
      fact_caching_timeout: 320

scenario:
  test_sequence:
    - destroy
    - dependency
    - create
    - prepare
    - converge
    - idempotence
    - verify
    - destroy

verifier:
  name: testinfra
