#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
{# https://prometheus.io/docs/prometheus/latest/feature_flags/ #}
{% set attr_features = [
    "auto-gomaxprocs",
    "concurrent-rule-eval",
    "created-timestamp-zero-ingestion",
    "delayed-compaction",
    "exemplar-storage",
    "expand-external-labels",
    "extra-scrape-metrics",
    "memory-snapshot-on-shutdown",
    "native-histograms",
    "old-ui",
    "otlp-deltatocumulative,"
    "promql-experimental-functions",
    "promql-per-step-stats",
  ]
%}

OPTIONS="
{% if prometheus_service is defined %}
  {# log configuration #}
  --log.level={{ prometheus_service.log.level | default('info') }} \
  {% if prometheus_service.log.format is defined and
        prometheus_service.log.format in ["logfmt", "json"] %}
  --log.format={{prometheus_service.log.format }} \
  {% endif %}
  {# storage configuration #}
  {% if prometheus_service.storage.tsdb.path is defined %}
  --storage.tsdb.path={{ prometheus_service.storage.tsdb.path }} \
  {% endif %}
  {% if prometheus_version is version('2.7.0', '>=') %}
    {% if prometheus_service.storage.tsdb.retention.time is defined and
          prometheus_service.storage.tsdb.retention.time | string | length > 0 %}
  --storage.tsdb.retention.time={{ prometheus_service.storage.tsdb.retention.time }} \
    {% endif %}
    {% if prometheus_service.storage.tsdb.retention.size is defined and
          prometheus_service.storage.tsdb.retention.size | string | length > 0 %}
  --storage.tsdb.retention.size={{ prometheus_service.storage.tsdb.retention.size }} \
    {% endif %}
  {% else %}
    {% if prometheus_service.storage.tsdb.retention is defined and
          not prometheus_service.storage.tsdb.retention | bodsch.core.type == "dict" %}
  --storage.tsdb.retention={{ prometheus_service.storage.tsdb.retention }} \
    {% endif %}
  {% endif %}
  {% if prometheus_version is version('2.24.0', '>=') and
        prometheus_service.web.config.file is defined and
        prometheus_service.web.config.file | string | length > 0 %}
    --web.config.file={{ prometheus_config_dir }}/{{ prometheus_service.web.config.file | default('web.yml') }} \
  {% endif %}
  {# web configuration #}
  --web.console.libraries={{ prometheus_config_dir }}/console_libraries \
  --web.console.templates={{ prometheus_config_dir }}/consoles \
  {% if prometheus_service.web.listen_address is defined and
        prometheus_service.web.listen_address | string | length > 0 %}
  --web.listen-address={{ prometheus_service.web.listen_address }} \
  {% endif %}
  {% if prometheus_service.web.external_url is defined and
        prometheus_service.web.external_url | string | length > 0 %}
  --web.external-url={{ prometheus_service.web.external_url }} \
  {% endif %}
  {% if prometheus_service.web.enable_lifecycle is defined and
        prometheus_service.web.enable_lifecycle %}
  --web.enable-lifecycle \
  {% endif %}
  {% if prometheus_service.web.enable_admin_api is defined and
        prometheus_service.web.enable_admin_api %}
  --web.enable-admin-api \
  {% endif %}
  {% if prometheus_service.web.enable_remote_write_receiver is defined and
        prometheus_service.web.enable_remote_write_receiver %}
  --web.enable-remote-write-receiver \
  {% endif %}
  {% if prometheus_service.web.remote_write_receiver is defined and
        prometheus_service.web.remote_write_receiver.accepted_protobuf_messages is defined and
        prometheus_service.web.remote_write_receiver.accepted_protobuf_messages | bodsch.core.type == 'list' %}
    {% set attr_protobuf_messages = ["prometheus.WriteRequest", "io.prometheus.write.v2.Request"] %}
    {% set _receiver = prometheus_service.web.remote_write_receiver.accepted_protobuf_messages | default([]) | bodsch.core.compare_list(attr_protobuf_messages) %}
    {% if _receiver | count > 0 %}
  --web.remote-write-receiver.accepted-protobuf-messages={{ _receiver | join(', ') }} \
    {% endif %}
  {% endif %}
  {% if prometheus_service.web.enable_otlp_receiver is defined and
        prometheus_service.web.enable_otlp_receiver %}
  --web.enable-otlp-receiver \
  {% endif %}
  {# feature configuration #}
  {% if prometheus_service.features is defined and
        prometheus_service.features | bodsch.core.type == "list" %}
    {% set _features = prometheus_service.features | default([]) | bodsch.core.compare_list(attr_features) %}
    {% if _features | count > 0 %}
  --enable-feature={{ _features | join(', ') }} \
    {% endif %}
  {% endif %}
  {% if prometheus_service.raw_flags is defined %}
    {% for flag, flag_value in prometheus_service.raw_flags.items() %}
      {% if not flag_value %}
  --{{ flag }} \
      {% elif flag_value is string %}
  --{{ flag }}={{ flag_value }} \
      {% elif flag_value is sequence %}
        {% for flag_value_item in flag_value %}
  --{{ flag }}={{ flag_value_item }} \
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}
  --config.file={{ prometheus_config_dir }}/prometheus.yml
"
